<div class='container'>
	<div class="jumbotron">
		<h2>Click on a button below to get a random quote on respective data format</h2>
		<br/>
  		<p>
  			<a class="btn btn-primary btn-lg" href="/quote.html" role="button">HTML</a>
  			<a class="btn btn-primary btn-lg" href="/quote.json" role="button">JSON</a>
  			<a class="btn btn-primary btn-lg" href="/quote.xml" role="button">XML</a>
  		</p>
	</div>
</div>
