
<h1 class='page-header' style='text-align:center'>Random quotation app</h1>

<div class='container'>
	<div class="jumbotron">
		<h2>Please click for getting a random quote on respective data format</h2>
		<br/>
  		<p>
  			<a class="btn btn-primary btn-lg" href="#" role="button">HTML</a>
  			<a class="btn btn-primary btn-lg" href="#" role="button">JSON</a>
  			<a class="btn btn-primary btn-lg" href="#" role="button">XML</a>
  		</p>
	</div>
</div>
