<div class='container'>
	<div class='jumbotron'>
		<p>
		  <h2><%= @quote[:title] %></h2>
		</p>

		<p>
		  <h3 style='float:right'>- <i style='color:#FF0000'><%= @quote[:author] || '(unknown)' %></i></h3>
		  <br/>
		</p>
	</div>
</div>